$toolbar-selected-background-color = rgba(#333, 0.08)
$toolbar-hover-background-color = rgba(#333, 0.04)

body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  padding: 0
  margin: 0

.rich-text-editor
  &.RichEditor-hidePlaceholder
    .public-DraftEditorPlaceholder-root
      display: none
  .public-DraftEditorPlaceholder-root
    color: rgba(#333, 0.1)
  .rich-text-editor-toolbar-button-insert-link
    position: relative
    z-index: 1
    display: inline-block
    &-input
      position: absolute
      width: 500px
      top: 24px
      z-index: 1
      display: none
      &.is-show
        display: block
    .insert-link-error-message
      display: none
      margin-left: 10px
      &.is-show
        display: inline-block
  .DraftEditor-root
    height: auto !important;
    height: 100%;
    min-height: 100%;
    max-height: none
    overflow: auto
    position: relative
    z-index: 1
    cursor: text
    .link, .download-link
      color: #00aeef
      text-decoration: underline
    a
      cursor: text
      &:hover,
      &:focus
        color: #00aeef
        text-decoration: none
  .public-DraftEditor-content
    height: auto !important;
    height: 100%;
    min-height: 100%;
    max-height: none
